
/*DIV WHERE THE INPUT IMAGE GOES*/

#emotion-img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*IMAGE INPUT DISPLAY*/

img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/*PLACE CANVAS OVER IMAGE*/

#myCanvas {
    position: absolute;
}

.row {
    margin-top: 20px;
}

/*LOGO STYLE*/

#logo {
    width: 250px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*FIX FOOTER STYLE*/

footer{
  margin-top: 15px;
}

.footer-text {
  margin: 0;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*PROGRESS BAR FIX*/

.ui-progressbar .ui-progressbar-value {
  margin: 0 !important;
}

/*INPUT LINE COLOR - DOES NOT WORK*/

.input-field input[type=text]:focus {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}
